<html>
<head>
  <meta charset="UTF-8">
  <title>My Spring Boot App</title>
  <style>
    p {
      color: green;
    }
    p {
      font-size: 18px;
	  text-align: justify;
    }
	h1{
		text-align: center;
	}
  </style>
  
  <script src="/js/script.js"> 

  </script>
	
</head>
<body>
  <h1 style="color: black;">Welcome to my new Spring Boot app!</h1>
  <p style="font-size: 20px;"> This a small demo on making a dynamic page in Spring boot.</p>
  <img src="" alt="this is an image">
 	<button onclick="hello()">Click here</button>
  
  
</body>
</html>